body{
    background-color: #FF8300;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.container{
    background-color: #FFF;
    position: absolute;
    width: 95%;
    height: 88%;
    min-height: fit-content;
    border-radius: 5px;
    padding: 1.5%;
    margin: 1%;
}

/*
    LOGIN SRC
*/

.login{
    width: 350px;
    padding: 30px;
    background-color: #FFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 20px;
}

.login h1{
    color: #A75600;
    text-transform: uppercase;
    font-weight: 500;
}

.login label{
    text-transform: uppercase;
    color: #930000;
    size: 3px;
}

.login img{
    margin: 3px;
}

.login input::-webkit-input-placeholder{
    color: #A75600
}

.login input[type = "text"], .login input[type = "password"]{
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid #A75600;
    padding: 14px;
    width: 200px;
    outline: none;
    color: #000000;
    border-radius: 20px;
    transition: 0.25s;
}

.login input[type = "text"]:focus, .login input[type = "password"]:focus{
    width: 220px;
    border-color: #D96F00
}

.login input[type = "submit"]{
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid #FFB970;
    padding: 14px;
    width: 100px;
    outline: none;
    color: #D96F00;
    border-radius: 20px;
    transition: 0.25s;
    cursor: pointer;
}

.login input[type = "submit"]:hover{
    background-color: #FFB970;
    color: #A75600;
}

/*
    MENU
*/

.item-menu{
    display: inline-block;
    background-color: #FF8300;
    width: 48%;
    height: 90px;
    margin: 5px;
    border-radius: 5px;
    padding: 5px;
}

.item-menu img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.item-menu:hover{
	background-color:#FFB970;
    color: #000000;
    transition: 0.25s;
}

.item-menu, a{
    text-decoration: none;
    text-align: center;
}

.item-menu, a:visited{
	color: #000000;
}

.item-menu label{
    margin-right: auto;
    font-size: 25px;
}

.days{
    width: fit-content;
    border: 1px solid #000000;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    display: block;
    margin-top: 30px;
}

.days table{
    border-collapse: collapse;
    border: 0;
}
  
.days td{
    padding: 10px;
}

.days th{
    padding: 10px;
}

.funcionario th{
    background-color: #FF8300;
}

.days tr {
    background-color: #FFF;
}

.days tr:nth-child(2n+3){
    background-color: #ededed;
}

.days table tr:hover{
    background-color: #FFB970;
    transition: 0.25s;
}

.days table td:hover{
    background-color: #D96F00;
    transition: 0.25s;
}